* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}


/* Mobile First Media Queries */

/* Header */


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    overflow: hidden;

}

header .bcgimg {
    background-image: url("images/bgc.png");
    background-repeat: no-repeat;
    background-position: -90px 0;
    background-attachment: fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: static;
    z-index: -1;
}

header .bcg {
    background-color: rgba(0, 0, 0, 50%);
    position: relative;
    height: 100vh;
}

header h1 {
    position: absolute;
    top: 14vh;
    padding-left: 21vw;
    padding-right: 15vw;
    font-family: 'Bree Serif', serif;
    font-size: 5rem;
    line-height: 7.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

header p {
    position: absolute;
    top: 63vh;
    padding-left: 21vw;
    padding-right: 17vw;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-style: italic;
    color: white;
}

header .barberpole img {
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 1;
}

.navigation {
    display: none;
    background-color: transprent;
    position: absolute;
}

.images {
    display: none;
}


/* Header Portrait Orientation */

/* Galaxy Note II/SIII */
@media (min-width: 360px) and (orientation: portrait) {

    header h1 {
        top: 16vh;
        font-size: 5.5rem;
        line-height: 7.5rem;
    }

    header p {
        top: 63vh;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}


/* iPhone 6/7/8 */
@media (min-width: 374px) and (orientation: portrait) {

    header h1 {
        font-size: 6rem;
        line-height: 8.8rem;
    }

    header p {
        top: 63vh;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

/* iPhone X */
@media (min-width: 374px) and (min-height: 810px) {

    header h1 {
        font-size: 6rem;
        line-height: 8rem;
    }

    header p {
        top: 55vh;
        font-size: 2.3rem;
        line-height: 2.7rem;
    }
}

/* Pixel 2 */
@media (min-width: 410px) and (orientation: portrait) {

    header h1 {
        font-size: 6rem;
        line-height: 8.6rem;
    }

    header p {
        top: 60vh;
        font-size: 2.3rem;
        line-height: 2.8rem;
    }


    header .barberpole img {
        width: 65px;
        height: 65px;
        top: 12px;
        right: 7px;
    }
}

/* Pixel 2 XL */
@media (min-width: 410px) and (min-height: 820px) {

    header h1 {
        font-size: 6.2rem;
        line-height: 8.8rem;
    }

    header p {
        top: 57vh;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media (min-width: 600px) and (orientation: portrait) {

    header h1 {
        font-size: 8rem;
        line-height: 8.3rem;
    }

    header p {
        font-size: 2.9rem;
        line-height: 3.6rem;
    }


    header .barberpole img {
        width: 65px;
        height: 65px;
        top: 12px;
        right: 7px;
    }

}

/* iPad */
@media (min-width: 765px) and (orientation: portrait) {

    header h1 {
        top: 13vh;
        padding-left: 24vw;
        padding-right: 15vw;
        font-size: 11rem;
        line-height: 15rem;
    }

    header p {
        padding-left: 24vw;
        padding-right: 15vw;
        top: 63vh;
        font-size: 3.3rem;
        line-height: 4rem;
    }


    header .barberpole img {
        width: 90px;
        height: 90px;
        top: 17px;
        right: 10px;
    }
}

/* Nexus 10 */
@media (min-width: 799px) and (min-height: 1200px) {

    header h1 {
        top: 16vh;
        font-size: 11rem;
        line-height: 15rem;
    }

    header p {
        top: 66vh;
        font-size: 3.8rem;
        line-height: 4.7rem;
    }
}

/* iPad Pro */
@media (min-width: 1024px) and (orientation: portrait) {

    header h1 {
        top: 15vh;
        padding-left: 24vw;
        padding-right: 15vw;
        font-size: 14rem;
        line-height: 17rem;
    }

    header p {
        padding-left: 24vw;
        padding-right: 15vw;
        top: 60vh;
        font-size: 4rem;
        line-height: 5rem;
    }

    header .barberpole img {
        width: 120px;
        height: 120px;
        top: 19px;
        right: 12px;
    }
}

/* Header Landscape Orientation */

/* iPhone 5/SE, iPhone 6/7/8, Galaxy Note II/SIII */
@media (min-width: 550px) and (orientation: landscape) {

    header .bcgimg {
        background-position: center;
    }

    header h1 {
        top: 14vh;
        padding-left: 19vw;
        padding-right: 23vw;
        font-size: 5rem;
        line-height: 6.5rem;
    }

    header p {
        position: absolute;
        top: 63vh;
        padding-left: 19vw;
        padding-right: 17vw;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    header .barberpole img {
        width: 60px;
        height: 60px;
        top: 10px;
        right: 5px;
        position: absolute;
    }

}

/* iPhone 6/7/8, Galaxy Note II/SIII */
@media (min-width: 667px) and (orientation: landscape) {

    header h1 {
        padding-right: 27vw;
    }
}


/* iPhone X */
@media (min-width: 811px) and (orientation: landscape) and (min-width: 374px) {


    header h1 {
        top: 16vh;
        padding-left: 19vw;
        padding-right: 35vw;
        font-size: 5.5rem;
        line-height: 6.9rem;
    }

    header p {
        font-size: 2.1rem;
        line-height: 2.6rem;
    }
}

/* Pixel 2, Pixel 2 XL */
@media (min-width: 731px) and (orientation: landscape) {


    header h1 {
        top: 16vh;
        padding-left: 19vw;
        padding-right: 32vw;
        font-size: 5rem;
        line-height: 6.5rem;
    }

    header p {
        position: absolute;
        top: 61vh;
        font-size: 2rem;
        line-height: 2.6rem;
    }
}

/* iPad */
/* @media (min-width: 1024px) and (orientation: landscape) {

    header h1 {
        top: 14vh;
        padding-left: 20vw;
        padding-right: 20vw;
        font-size: 9rem;
        line-height: 11rem;
    }

    header p {
        top: 57vh;
        padding-left: 20vw;
        padding-right: 17vw;
        font-size: 3rem;
        line-height: 3.8rem;
    }

    header img {
        width: 90px;
        height: 90px;
        top: 13px;
        right: 8px;
    }
} */


/* iPad */
@media (min-width: 1024px) and (orientation: landscape) {

    header h1 {
        top: 20vh;
        padding-left: 40vw;
        padding-right: 3vw;
        font-size: 9rem;
        line-height: 11rem;
    }


    header p {
        top: 61vh;
        padding-left: 40vw;
        padding-right: 5vw;
        font-size: 3rem;
        line-height: 4rem;
    }

    header .barberpole img {
        width: 90px;
        height: 90px;
        top: 13px;
        left: 8px;
    }

    .navigation {
        display: block;
        left: 38vw;
    }

    .navigation ul {
        list-style: none;
    }

    .navigation ul li {
        float: left;
    }

    /*     .navigation ul li .about {
        width: 18vw;
        background-color: yellow;
    } */

    .navigation ul li a {
        font-size: 3rem;
        color: white;
        margin: 0 2vw;
        text-decoration: none;
        line-height: 5vw;
        text-transform: uppercase;
        transition: text-shadow .1s;
    }

    .navigation ul li a:hover {
        text-shadow: .7px 0 0 currentColor, -.7px 0 0 currentColor;
        cursor: pointer;
    }

    .images {
        display: block;
    }
}




/* iPad Pro, desktop */
@media (min-width: 1365px) and (orientation: landscape) {

    .navigation ul li a {
        font-size: 4rem;
        line-height: 6vw;
    }

    header h1 {
        top: 20vh;
        padding-left: 40vw;
        padding-right: 8vw;
        font-size: 11rem;
        line-height: 13rem;
    }

    header p {
        top: 58vh;
        padding-left: 40vw;
        padding-right: 5vw;
        font-size: 4rem;
        line-height: 5rem;
    }


    header .barberpole img {
        width: 120px;
        height: 120px;
    }
}

/* Desktop short */
@media (min-width: 1365px) and (orientation: landscape) and (max-height: 680px) {


    header h1 {
        top: 16vh;
        padding-left: 19vw;
        padding-right: 25vw;
    }

    header p {
        top: 63vh;
        padding-left: 19vw;
    }
}


/* Main Information */

.information .location {
    position: relative;
    background-color: rgba(25, 172, 108, 0.7);
    height: 40vh;
    width: 100vw;
}

.information .contact {
    position: relative;
    background-color: rgba(25, 172, 108, 0.7);
    height: 40vh;
    width: 100vw;
}

.information .about {
    height: 80vh;
    position: relative;
    background-color: rgba(25, 172, 108, 0.7);
    width: 100vw;
}

/* .information i, */
/* .information h2, */
.information h3,
.information .phone,
.information p {
    position: absolute;
}

.information .img {
    height: 40vh;
}

.information i {
    font-size: 4rem;
    padding: 6.5vh 0 0 44vw;
    /*     float: left; */
}

/* i.fa-map-marker {
    padding-top: 8vh;
} */

/*

i.fa-mobile {
    padding-top: 11vh;
    padding-left: 26vw;
} */

.information .phone {
    left: 27vw;
    top: 20.5vh;
}

.information h2 {
    font-size: 2rem;
    text-transform: uppercase;
    display: inline;
    margin-left: 2vw;
}

.information .about h2 {
    display: none;
}

/* .contact h2 {
    margin-left: 5vw;
} */

/* .about h2 {
    margin-left: 6vw;
} */

.information h3 {
    font-size: 2.5rem;
}

.information .location h3:nth-of-type(1) {
    left: 25vw;
    top: 18vh;
}

.information .location h3:nth-of-type(2) {
    left: 25vw;
    top: 25vh;
}

.information p {
    font-size: 1.8rem;
    font-weight: 600;
    top: 20vh;
    padding-left: 21vw;
    padding-right: 17vw;
    line-height: 2.3rem;
}

.information a {
    text-decoration: none;
    cursor: default;
    color: black;
    pointer-events: auto;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    /* disable activation of hyperlink */
}

.information .img {
    height: 40vh;
    width: 100vw;
    background-size: cover;
}

.information .window {
    background-image: url("images/IMG_7905.jpg");
}

.information .cutting {
    background-image: url("images/IMG_7150.jpg");
}

.information .cosmetics {
    background-image: url("images/fb_tlo_IMG_7162.png");
    /*     display: none; */
    /* display only on mobile */
}

/* Main Portrait Orientation */




/* iPhone X */
@media (min-width: 374px) and (min-height: 810px) {

    .information .info {
        height: 35vh;
    }

    .information .location h3:nth-of-type(1) {
        left: 28vw;
        top: 16vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 28vw;
        top: 22vh;
    }

    .information .about {
        height: 60vh;
    }


    .information .img {
        height: 35vh;
    }

    .information p {
        font-size: 1.8rem;
        font-weight: 600;
        top: 19vh;
        padding-left: 21vw;
        padding-right: 17vw;
        line-height: 2.3rem;
    }

    /*     .information .phone {
        left: 30vw;
        top: 20vh;
    }
    
    .information i {
        padding: 6.5vh 0 0 27vw;
    }
    
    i.fa-mobile {
        padding-top: 11vh;
        padding-left: 29vw;
    }
    
    i.fa-user-tie {
        padding-left: 32vw;
    } */

}

/* Pixel 2 */
@media (min-width: 410px) and (orientation: portrait) {
    .information .phone {
        left: 29vw;
    }

    .information .about {
        height: 65vh;
    }

    /*     .information i {
        padding: 6.5vh 0 0 27vw;
    }
    
    i.fa-mobile {
        padding-top: 12vh;
        padding-left: 30vw;
    }
    
    i.fa-user-tie {
        padding-left: 32vw;
    }
    
    i.fa-map-marker {
        padding-top: 10vh;
    } */

    .information .location h3:nth-of-type(1) {
        left: 30vw;
        top: 20vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 30vw;
        top: 25vh;
    }

}

/* iPad */
@media (min-width: 765px) and (orientation: portrait) {

    .information .info {
        height: 35vh;
    }

    .information .location h3:nth-of-type(1) {
        left: 25vw;
        top: 16vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 25vw;
        top: 22vh;
    }

    .information .about {
        height: 55vh;
    }

    /*     .information .phone {
        left: 29vw;
        top: 19vh;
    } */

    .information .img {
        height: 35vh;
    }

    .information p {
        font-size: 2.5rem;
        font-weight: 600;
        top: 18vh;
        padding-left: 21vw;
        padding-right: 17vw;
        line-height: 3rem;
        font-size: 3rem;
        line-height: 3.6rem;
    }

    .information i {
        font-size: 7rem;
    }


    /*     .information h2 {
        font-size: 4rem;
        margin-left: 2vw;
        vertical-align: 20%;
    
    }
    
    .contact h2 {
        margin-left: 5vw;
    }
    
    .about h2 {
        margin-left: 6vw;
    } */

    .information h3 {
        font-size: 4.5rem;
    }

    .information p {
        font-size: 3rem;
        top: 20vh;
        padding-left: 21vw;
        padding-right: 17vw;
        line-height: 3.6rem;
    }

    /*     .information .phone {
        left: 32vw;
        top: 20.5vh;
    } */

    .information a {
        font-size: 4.5rem;
    }


    /*     i.fa-mobile {
        padding-top: 10vh;
        padding-left: 30vw;
    }
    
    i.fa-user-tie {
        padding-left: 32vw;
    }
    
    i.fa-map-marker {
        padding-top: 6vh;
    } */

    .information .location h3:nth-of-type(1) {
        left: 30vw;
        top: 16vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 30vw;
        top: 23vh;
    }



}

/* iPad Pro/ */
@media (min-width: 1024px) and (orientation: portrait) {

    .information .location {
        float: right;
        width: 50%;
        background-color: #2c8e64;
    }

    .information .contact {
        float: left;
        width: 50%;
    }

    .information .img {
        float: left;
        width: 50%;
    }

    .info.about {
        background-color: #2c8e64;
    }

    .information .location {
        height: 35vh;
    }

    .information .contact {
        height: 35vh;
    }

    .information .img {
        height: 35vh;
    }

    .info.about {
        height: 60vh;
    }

    .info h2 {
        display: none;
    }

    i.fa-map-marker {
        font-size: 8rem;
        padding: 14.5vh 0 0 7vw;
    }

    .information .location h3:nth-of-type(1) {
        left: 17vw;
        top: 12.5vh;
        font-size: 4rem;
    }

    .information .location h3:nth-of-type(2) {
        left: 17vw;
        top: 18vh;
        font-size: 4rem;
    }

    i.fa-mobile {
        font-size: 8rem;
        padding: 14.5vh 0 0 7vw;
    }

    .information .phone {
        left: 18vw;
        top: 16vh;
    }

    .information .phone a {
        font-size: 4em;
    }

    i.fa-user-tie {
        font-size: 8rem;
        padding: 9.5vh 0 0 46vw;
    }

    .information p {
        top: 20vh;
        font-size: 4rem;
        line-height: 4.9rem;
    }











}


/* Main Orientation Landscape  */

/* iPhone 5/SE */

@media (min-width: 567px) and (orientation: landscape) {

    .information .location {
        float: right;
        width: 50%;
        background-color: #2c8e64;
        height: 50vh;
    }

    .information .contact {
        float: left;
        width: 50%;
        height: 50vh;
    }

    .information .img {
        float: left;
        width: 50%;
        height: 50vh;
    }

    .info.about {
        background-color: #2c8e64;
        height: 100vh;
    }

    .information h3 {
        font-size: 2rem;
    }

    .information .phone a {
        font-size: 2rem;
        pointer-events: none;
    }



    .info h2 {
        display: none;
    }

    i.fa-map-marker {
        font-size: 4.5rem;
        padding: 17vh 0 0 7vw;
    }

    .information .location h3:nth-of-type(1) {
        left: 18vw;
        top: 17vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 18vw;
        top: 24vh;
    }

    i.fa-mobile {
        font-size: 4.5rem;
        padding: 17vh 0 0 7vw;
    }

    .information .phone {
        left: 18vw;
        top: 20vh;
    }

    i.fa-user-tie {
        font-size: 4.5rem;
        padding: 9.5vh 0 0 46vw;
    }

    .information p {
        top: 30vh;
    }
}

/* iPhone 6/7/8, Galaxy Note II/SIII */
@media (min-width: 640px) and (orientation: landscape) {
    .information .location h3:nth-of-type(1) {
        left: 18vw;
        top: 16vh;
    }

    .information .location h3:nth-of-type(2) {
        left: 18vw;
        top: 24vh;
    }

    .information .phone {
        top: 21vh;
    }

    .info.about {
        height: 80vh;
    }

}


/* iPhone 6/7/8 Plus */
@media (min-width: 736px) and (orientation: landscape) {


    i.fa-map-marker {
        font-size: 5rem;
        padding: 17.5vh 0 0 7vw;
    }

    i.fa-mobile {
        font-size: 5rem;
        padding: 18vh 0 0 7vw;
    }

    .information .phone {
        top: 21.5vh;
    }

    .information .location h3:nth-of-type(1) {
        top: 16.5vh;
    }

    .information .location h3:nth-of-type(2) {
        top: 24.5vh;
    }
}


/* iPad */
@media (min-width: 1024px) and (orientation: landscape) {

    .information .location {
        height: 45vh;
    }

    .information .contact {
        height: 45vh;
    }

    .information .img {
        height: 45vh;
    }

    .info.about {
        height: 70vh;
    }

    .info h2 {
        display: none;
    }

    i.fa-map-marker {
        font-size: 6rem;
        padding: 17vh 0 0 7vw;
    }

    .information .location h3:nth-of-type(1) {
        left: 17vw;
        top: 15vh;
        font-size: 3rem;
    }

    .information .location h3:nth-of-type(2) {
        left: 17vw;
        top: 22vh;
        font-size: 3rem;
    }

    i.fa-mobile {
        font-size: 6rem;
        padding: 17vh 0 0 7vw;
    }

    .information .phone {
        left: 18vw;
        top: 19vh;
    }

    .information .phone a {
        font-size: 3em;
    }

    i.fa-user-tie {
        font-size: 6rem;
        padding: 9.5vh 0 0 46vw;
    }

    .information p {
        top: 27vh;
        font-size: 3rem;
        line-height: 3.8rem;
    }
}


/* iPad Pro i Desktop */
@media (min-width: 1366px) and (orientation: landscape) {

    .greenimg {
        background-image: url("images/IMG_7135__zd.jpg");
        background-size: cover;
    }

    .information .about {
        /*             background-color: transparent; */
        background-color: rgba(0, 0, 0, 40%);
        height: 90vh;
    }

    .information p {
        color: white;
        top: 34vh;
        font-size: 3.5rem;
        line-height: 4.4rem;
        padding-left: 10vw;
        padding-right: 50vw;
    }

    i.fa-user-tie {
        display: none;
    }

    i.fa-map-marker,
    i.fa-mobile {
        font-size: 8rem;
    }

    .information .location h3 {
        font-size: 4rem;
    }

    .information .location h3:nth-of-type(1) {
        font-size: 4rem;
    }

    .information .location h3:nth-of-type(2) {
        font-size: 4rem;
    }

    .information .phone a {
        font-size: 4em;
    }

    .information .about h2 {
        display: block;
        color: white;
        font-size: 8rem;
        vertical-align: 0%;
        padding: 15vh 0 0 10vw;
        margin: 0;
        font-family: 'Bree Serif', serif;
        font-weight: 400;
    }
}

/* Footer */



footer {
    background-color: #2c8e64;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5vh 0;
}

@media (min-width: 567px) and (max-width: 1365px) and (orientation: landscape) {
    footer {
        background-color: rgba(25, 172, 108, 0.7);
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    footer {
        background-color: rgba(25, 172, 108, 0.7);
    }
}
